.b-section {
  position: absolute;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  font-family: "MyriadPro", sans-serif;
  background: #e0e0e0; }
.b-section__container {
  max-width: 1861px;
  display: block;
  margin: 0 auto;
  padding: 0 15px; }
@media (max-width: 991px) {
  .b-section__container {
    padding: 0 10px; } }
.b-section__add {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
  background: #43a047 url("/i/plus.png") center center no-repeat; }
.b-section__add:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
.b-section__main {
  position: relative; }
.b-section__tab-list {
  font-size: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: table;
  width: 100%; }
@media (max-width: 991px) {
  .b-section__tab-list {
    border-bottom: 1px solid #ccc;
    background: #fff; } }
.b-section__tab-item {
  display: table-cell;
  width: 14.28%;
  font-size: 14px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  background: #fff; }
@media (max-width: 991px) {
  .b-section__tab-item {
    width: 25%;
    display: inline-block;
    vertical-align: top; } }
.b-section__tab-item .b-section__tab-link:hover {
  color: #4fc3f7; }
.b-section__tab-item .b-section__tab-link:active {
  color: #4fc3f7; }
.b-section__tab-item .b-section__tab-link.active {
  color: #4fc3f7;
  border-top: 4px solid #4fc3f7;
  background: white; }
.b-section__tab-link {
  font-size: 15px;
  display: block;
  color: #656d78;
  text-decoration: none;
  background: #fff;
  border-top: 4px solid transparent; }
@media (max-width: 991px) {
  .b-section__tab-link {
    border: none;
    font-size: 11px; } }
.b-section__tab-link:active {
  color: #4fc3f7; }
.b-section__tab-link:hover {
  color: #4fc3f7; }
.b-section__tab-link.active {
  color: #4fc3f7; }
.b-section__tabcontent-wrap {
  background-color: white; }
.b-section__tabcontent-item {
  display: none; }
.b-section__tabcontent-item.active {
  display: block; }

input[type='date'] {
  border: none;
  width: 115px;
  font-weight: bold;
  height: 20px;
  padding-bottom: 5px; }

#phone, #phone2 {
  float: left; }

.b-header {
  position: relative;
  min-height: 68px;
  line-height: 68px;
  font-size: 0;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); }
.b-header__wrap {
  padding-left: 353px;
  padding-right: 30px; }
@media (max-width: 991px) {
  .b-header__wrap {
    padding: 0; } }
.b-header__left {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 50%;
  text-align: left; }
.b-header__right {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 50%;
  text-align: right; }
.b-header__search {
  display: inline-block;
  max-width: 290px;
  width: 100%;
  position: relative; }
.b-header__input {
  width: 100%;
  display: block;
  background: #fff;
  border: none;
  line-height: 30px;
  font-size: 18px;
  color: #4fc3f7;
  padding: 0 10px 0 30px; }
.b-header__input:-moz-placeholder {
  color: #4fc3f7; }
.b-header__input::-webkit-input-placeholder {
  color: #4fc3f7; }
.b-header__input:-ms-input-placeholder {
  color: #4fc3f7; }
.b-header__button {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background: url("/i/search.png") 0 0 no-repeat; }
.b-header__button:hover {
  box-shadow: none;
  opacity: 0.8; }
.b-header__user {
  font-size: 15px;
  color: #656d78;
  line-height: 40px;
  height: 40px;
  padding-right: 50px;
  display: inline-block;
  background: url("/i/user.png") right center no-repeat; }
@media (max-width: 424px) {
  .b-header__user {
    background: none;
    padding: 0; } }
.b-header__user span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }
.b-header__user:hover {
  color: #4fc3f7; }

.b-filter__wrap {
  font-size: 0;
  position: relative; }

.b-filter__left {
  display: inline-block;
  vertical-align: top;
  width: 293px;
  position: absolute;
  top: 0;
  left: 0; }
@media (max-width: 991px) {
  .b-filter__left {
    position: static;
    width: 100%; } }

.b-filter__right {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-left: 353px; }
@media (max-width: 991px) {
  .b-filter__right {
    width: 100%;
    padding-left: 0; } }

.b-filter__logo {
  background: #fff;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 25px 55px 40px; }
@media (max-width: 991px) {
  .b-filter__logo {
    display: none; } }
.b-filter__logo img {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
.b-filter__logo:hover img {
  opacity: 0.8; }

.b-filter__menu {
  max-width: 290px;
  width: 100%;
  text-align: center;
  margin-top: 65px; }
@media (max-width: 991px) {
  .b-filter__menu {
    margin: 20px 0;
    width: 100%;
    max-width: 100%; } }
.b-filter__menu-list {
  width: 100%;
  background: #fff;
  padding: 10px 0;
  text-align: left;
  position: relative;
  z-index: 1;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3); }
.b-filter__menu-item .b-filter__menu-link {
  border-left: 5px solid transparent;
  color: #5e5e5e; }
.b-filter__menu-link {
  line-height: 48px;
  border-left: 5px solid white;
  padding-left: 50px;
  padding-right: 35px;
  display: block;
  position: relative;
  background-position: 15px center;
  background-repeat: no-repeat; }
.b-filter__menu-link:active {
  border-left: 5px solid #4fc3f7; }
.b-filter__menu-link:active .b-filter__menu-text {
  color: #4fc3f7; }
.b-filter__menu-link:hover {
  color: #4fc3f7; }
.b-filter__menu-link.active {
  border-left: 5px solid #4fc3f7; }
.b-filter__menu-link.active .b-filter__menu-text {
  color: #4fc3f7; }
.b-filter__menu-link.-icon1 {
  background-image: url("/i/menu_icon1.png"); }
.b-filter__menu-link.-icon2 {
  background-image: url("/i/menu_icon2.png"); }
.b-filter__menu-link.-icon3 {
  background-image: url("/i/menu_icon3.png"); }
.b-filter__menu-link:hover.-icon1 {
  background-image: url("/i/menu_icon1_active.png"); }
.b-filter__menu-link:active.-icon1 {
  background-image: url("/i/menu_icon1_active.png"); }
.b-filter__menu-link.active.-icon1 {
  background-image: url("/i/menu_icon1_active.png"); }
.b-filter__menu-link:hover.-icon2 {
  background-image: url("/i/menu_icon2_active.png"); }
.b-filter__menu-link:active.-icon2 {
  background-image: url("/i/menu_icon2_active.png"); }
.b-filter__menu-link.active.-icon2 {
  background-image: url("/i/menu_icon2_active.png"); }
.b-filter__menu-link:hover.-icon3 {
  background-image: url("/i/menu_icon3_active.png"); }
.b-filter__menu-link:active.-icon3 {
  background-image: url("/i/menu_icon3_active.png"); }
.b-filter__menu-link.active.-icon3 {
  background-image: url("/i/menu_icon3_active.png"); }
.b-filter__menu-text {
  color: #5e5e5e;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold; }
.b-filter__menu-text:hover {
  color: #4fc3f7; }
.b-filter__menu-text:active {
  color: #4fc3f7; }
.b-filter__menu-text.active {
  color: #4fc3f7; }
.b-filter__menu-numOf {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background: #4fc3f7;
  padding: 2px 10px;
  border-radius: 20px;
  font-size: 11px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 20px; }

.b-filter__check {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 12px;
  height: 11px; }
.b-filter__check label {
  text-transform: uppercase;
  display: block;
  height: 100%;
  border: 1px solid black;
  cursor: pointer; }
.b-filter__check input:checked + label {
  background: url("/i/check.png") 0 0 no-repeat;
  border: none; }

.b-filter__modal {
  position: absolute;
  z-index: 3;
  width: 200px;
  left: 0;
  top: 100%;
  padding: 10px 0;
  background: #fff;
  text-align: left;
  display: block;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3); }
.b-filter__modal-item {
  display: block;
  line-height: normal; }
.b-filter__modal-link {
  padding: 8px 20px;
  font-size: 11px;
  color: #6c6c6c;
  display: block; }
.b-filter__modal-link:hover {
  background: #ebeced; }

.b-filter__option {
  font-size: 0;
  line-height: 80px;
  min-height: 80px; }
@media (max-width: 991px) {
  .b-filter__option {
    line-height: normal;
    min-height: 100%; } }
.b-filter__option-left {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: left;
  line-height: normal; }
@media (max-width: 991px) {
  .b-filter__option-left {
    width: 100%;
    margin-bottom: 10px; } }
.b-filter__option-right {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  text-align: right;
  line-height: normal; }
@media (max-width: 991px) {
  .b-filter__option-right {
    width: 100%;
    margin-bottom: 10px;
    text-align: left; } }
.b-filter__option-check {
  width: 60px;
  height: 26px;
  position: relative;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  margin-right: 60px; }
.b-filter__option-check .b-filter__check {
  position: absolute;
  top: 7px;
  left: 15px; }
.b-filter__option-checkLink {
  width: 0;
  height: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  position: relative; }
.b-filter__option-checkLink:before {
  content: '';
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4fc3f7;
  position: absolute;
  top: 11px;
  right: 17px; }
.b-filter__option-checkLink:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); }
.b-filter__option-delete {
  display: inline-block;
  width: 60px;
  line-height: 26px;
  text-align: center;
  padding-left: 20px;
  color: #fff;
  font-size: 11px;
  vertical-align: top;
  background: #f44336 url("/i/delete.png") 10px center no-repeat; }
.b-filter__option-delete:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }
.b-filter__option-yet {
  width: 60px;
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
  text-align: center;
  background: #fff;
  position: relative; }
@media (max-width: 991px) {
  .b-filter__option-yet .b-filter__modal {
    left: auto;
    right: 0; } }
.b-filter__option-yetLink {
  font-size: 12px;
  color: #4fc3f7;
  display: block;
  height: 100%; }
.b-filter__option-yetLink:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); }
.b-filter__option-num {
  width: 160px;
  height: 26px;
  position: relative;
  font-size: 18px;
  color: #5e5e5e;
  margin-right: 20px;
  display: inline-block;
  margin-top: 3px;
  font-weight: bold;
  vertical-align: top; }
.b-filter__option-num .b-filter__modal {
  position: absolute;
  z-index: 3;
  width: 160px;
  right: 0;
  top: 100%;
  padding: 10px 0;
  background: #fff;
  text-align: center;
  display: block;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3); }
.b-filter__option-num .b-filter__check {
  position: absolute;
  top: 7px;
  right: 15px; }
.b-filter__option-num .b-filter__option-checkLink:before {
  content: none; }
.b-filter__option-num .b-filter__option-checkLink:hover {
  box-shadow: none; }
.b-filter__option-nav {
  display: inline-block; }
.b-filter__option-arrow {
  width: 41px;
  display: inline-block;
  margin-left: 3px;
  height: 26px;
  background: #fff;
  position: relative;
  border: 1px solid transparent; }
.b-filter__option-arrow:before {
  content: '';
  display: block;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  left: 17px;
  border-top: 2px solid #4fc3f7;
  border-right: 2px solid #4fc3f7;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.b-filter__option-arrow.-right:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 13px; }
.b-filter__option-arrow:hover {
  border: 1px solid #4fc3f7; }

.b-filter__content {
  font-size: 14px;
  background-color: white;
  min-height: 370px;
  margin-bottom: 100px;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3); }

.b-filter__item {
  padding: 15px 160px;
  border-left: 5px solid transparent;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 0;
  position: relative; }
@media (max-width: 991px) {
  .b-filter__item {
    padding: 40px 20px 10px; } }
.b-filter__item.no-option {
  padding: 15px 0 15px 160px; }
.b-filter__item:hover {
  border-left: 5px solid #4fc3f7; }
.b-filter__item .b-filter__check {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
@media (max-width: 991px) {
  .b-filter__item .b-filter__check {
    top: 20px; } }
.b-filter__item .b-filter__check label {
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #565658; }
.b-filter__item .b-filter__check input:checked + label {
  border: 1px solid #4fc3f7;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("/i/check_big.png");
  border: none; }

.b-filter__name {
  width: 33.333%;
  text-align: left;
  font-size: 15px;
  color: #000;
  display: inline-block;
  vertical-align: top; }
@media (max-width: 991px) {
  .b-filter__name {
    font-size: 13px; } }

.b-filter__address {
  width: 33.333%;
  text-align: center;
  font-size: 15px;
  color: #000;
  display: inline-block;
  vertical-align: top; }
@media (max-width: 991px) {
  .b-filter__address {
    font-size: 13px; } }

.b-filter__activity {
  width: 33.333%;
  text-align: right;
  font-size: 15px;
  color: #000;
  display: inline-block;
  vertical-align: top; }
@media (max-width: 991px) {
  .b-filter__activity {
    font-size: 13px; } }

.b-filter__star {
  width: 15px;
  height: 15px;
  background: url("/i/star.png") 0 0 no-repeat;
  position: absolute;
  top: 52%;
  display: block;
  left: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
@media (max-width: 991px) {
  .b-filter__star {
    top: 20px; } }
.b-filter__star.active {
  background: url("/i/star_active.png") 0 0 no-repeat; }

.b-filter__date {
  font-size: 14px;
  color: #686868;
  position: absolute;
  display: block;
  top: 52%;
  left: 75px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
@media (max-width: 991px) {
  .b-filter__date {
    top: 20px; } }

.b-filter__options {
  width: 20px;
  height: 20px;
  padding: 2px;
  background: #c6c3c3 url("/i/options.png") center center no-repeat;
  position: absolute;
  top: 52%;
  display: block;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
@media (max-width: 991px) {
  .b-filter__options {
    top: 20px; } }
.b-filter__options:hover {
  background-color: #fff; }

.b-filter__reviews {
    width: 20px;
    height: 20px;
    padding: 2px;
    background: #c6c3c3 url("/i/reviews.png") center center no-repeat;
    position: absolute;
    top: 52%;
    display: block;
    right: 45px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
@media (max-width: 991px) {
    .b-filter__reviews {
        top: 20px; } }
.b-filter__reviews:hover {
    background-color: #fff; }

.b-filter__callbacks {
    width: 20px;
    height: 20px;
    padding: 2px;
    background: #c6c3c3 url("/i/callbacks.png") center center no-repeat;
    position: absolute;
    top: 52%;
    display: block;
    right: 70px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
@media (max-width: 991px) {
    .b-filter__callbacks {
        top: 20px; } }
.b-filter__callbacks:hover {
    background-color: #fff; }

.b-filter__switch {
  width: 23px;
  height: 7px;
  cursor: pointer;
  background: #b3e5fc;
  border-radius: 20px;
  position: absolute;
  top: 52%;
  display: block;
  right: 105px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
@media (max-width: 991px) {
  .b-filter__switch {
    top: 20px; } }
.b-filter__switch:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  right: -4px;
  top: -3px;
  border-radius: 50%;
  background: #3caeda;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
.b-filter__switch:hover:before {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  background: #686868; }
.b-filter__switch.active {
  background: #c6c3c3; }
.b-filter__switch.active:before {
  right: 67%;
  background: #686868; }

.b-filter__first-name {
  text-align: center;
  font-size: 15px;
  color: #000;
  display: inline-block;
  width: 25%;
  vertical-align: top; }

.b-filter__phone {
  text-align: center;
  font-size: 15px;
  color: #000;
  display: inline-block;
  width: 25%;
  vertical-align: top; }

.b-filter__testimonial {
  text-align: center;
  font-size: 15px;
  color: #000;
  display: inline-block;
  width: 35%;
  vertical-align: top;
  position: relative; }

.b-filter__testimonial .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.b-filter__testimonial .b-fiter__testimonial-hover {
  display: none;
  opacity: 0; }

.b-filter__testimonial:hover .b-fiter__testimonial-hover {
  position: absolute;
  opacity: 1;
  right: 0;
  top: 105%;
  text-align: left;
  font-size: 12px;
  color: #686868;
  display: block;
  width: 100%;
  background-color: white;
  z-index: 99;
  padding: 5px 20px;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3); }

.b-filter__car {
  text-align: center;
  font-size: 15px;
  color: #000;
  display: inline-block;
  width: 25%;
  vertical-align: top; }

.b-filter__gov-number {
  text-align: center;
  font-size: 15px;
  color: #000;
  display: inline-block;
  width: 25%;
  vertical-align: top; }

.b-filter__forward {
  width: 20px;
  height: 20px;
  padding: 2px;
  background: #c6c3c3 url("/i/forward.png") center center no-repeat;
  position: absolute;
  top: 52%;
  display: block;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer; }
.b-filter__forward-formWrapper {
  position: absolute;
  right: 40px;
  top: 15px;
  width: 400px;
  height: 250px;
  background-color: #E0E0E0;
  box-shadow: -2px 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 10px;
  display: none; }
.b-filter__forward-formWrapper textarea {
  width: 100%;
  height: 80%;
  margin-bottom: 15px;
  padding: 5px;
  resize: none;
  border: 1px solid black; }
.b-filter__forward-formWrapper button.send_forward {
  background-color: #4fc3f7;
  color: white;
  border: none;
  letter-spacing: 1px;
  padding: 5px 10px 5px 25px;
  float: right;
  background-image: url(/i/send.png);
  background-repeat: no-repeat;
  background-position: 5px 5px; }

@media (max-width: 991px) {
  .b-filter__forward {
    top: 20px; } }

.b-filter__forward:hover {
  background-color: #fff; }

.b-filter__eye {
  width: 20px;
  height: 20px;
  padding: 2px;
  background: #c6c3c3 url("/i/eye.png") center center no-repeat;
  position: absolute;
  top: 52%;
  display: block;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

@media (max-width: 991px) {
  .b-filter__eye {
    top: 20px; } }

.b-filter__eye:hover {
  background-color: #fff; }

.b-filter__item .b-filter__menu-numOf {
  right: 75px;
  margin-top: -8px; }

.form-wrapper {
  padding: 15px;
  background-color: white; }

.form-wrapper hr.separator {
  color: #e0e0e0;
  background-color: #e0e0e0;
  height: 1px;
  border: none; }

.form-wrapper .group__title {
  color: #e0e0e0;
  padding-bottom: 20px; }

.form-wrapper .button-wrapper {
  float: left;
  margin-left: 10px;
  width: auto !important; }

.form-wrapper .input-wrapper, .form-wrapper .textarea-wrapper, .form-wrapper .button-wrapper {
  width: 500px;
  margin-bottom: 15px; }
.form-wrapper .input-wrapper.w50, .form-wrapper .textarea-wrapper.w50, .form-wrapper .button-wrapper.w50 {
  float: left;
  width: 240px; }
.form-wrapper .input-wrapper button, .form-wrapper .input-wrapper label.status, .form-wrapper .textarea-wrapper button, .form-wrapper .textarea-wrapper label.status, .form-wrapper .button-wrapper button, .form-wrapper .button-wrapper label.status {
  padding: 3px;
  font-weight: bold;
  width: 120px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  cursor: pointer; }
.form-wrapper .input-wrapper input[type='radio'], .form-wrapper .textarea-wrapper input[type='radio'], .form-wrapper .button-wrapper input[type='radio'] {
  display: none; }
.form-wrapper .input-wrapper input[type="radio"]:checked + label, .form-wrapper .textarea-wrapper input[type="radio"]:checked + label, .form-wrapper .button-wrapper input[type="radio"]:checked + label {
  color: white; }
.form-wrapper .input-wrapper input[type="radio"]:checked + label.green, .form-wrapper .textarea-wrapper input[type="radio"]:checked + label.green, .form-wrapper .button-wrapper input[type="radio"]:checked + label.green {
  background-color: #1CD309; }
.form-wrapper .input-wrapper input[type="radio"]:checked + label.yellow, .form-wrapper .textarea-wrapper input[type="radio"]:checked + label.yellow, .form-wrapper .button-wrapper input[type="radio"]:checked + label.yellow {
  background-color: #FFCC00; }
.form-wrapper .input-wrapper input[type="radio"]:checked + label.red, .form-wrapper .textarea-wrapper input[type="radio"]:checked + label.red, .form-wrapper .button-wrapper input[type="radio"]:checked + label.red {
  background-color: #FF0000; }
.form-wrapper .input-wrapper label.green, .form-wrapper .textarea-wrapper label.green, .form-wrapper .button-wrapper label.green {
  border: 1px solid #1CD309;
  color: #1CD309;
  background-color: white; }
.form-wrapper .input-wrapper label.green.active, .form-wrapper .textarea-wrapper label.green.active, .form-wrapper .button-wrapper label.green.active {
  background-color: #1CD309;
  color: white; }
.form-wrapper .input-wrapper label.green:hover, .form-wrapper .textarea-wrapper label.green:hover, .form-wrapper .button-wrapper label.green:hover {
  background-color: #1CD309;
  color: white; }
.form-wrapper .input-wrapper label.green:active, .form-wrapper .textarea-wrapper label.green:active, .form-wrapper .button-wrapper label.green:active {
  background-color: #1CD309;
  color: white; }
.form-wrapper .input-wrapper label.yellow, .form-wrapper .textarea-wrapper label.yellow, .form-wrapper .button-wrapper label.yellow {
  border: 1px solid #FFCC00;
  color: #FFCC00;
  background-color: white; }
.form-wrapper .input-wrapper label.yellow.active, .form-wrapper .textarea-wrapper label.yellow.active, .form-wrapper .button-wrapper label.yellow.active {
  background-color: #FFCC00;
  color: white; }
.form-wrapper .input-wrapper label.yellow:hover, .form-wrapper .textarea-wrapper label.yellow:hover, .form-wrapper .button-wrapper label.yellow:hover {
  background-color: #FFCC00;
  color: white; }
.form-wrapper .input-wrapper label.yellow:active, .form-wrapper .textarea-wrapper label.yellow:active, .form-wrapper .button-wrapper label.yellow:active {
  background-color: #FFCC00;
  color: white; }
.form-wrapper .input-wrapper label.red, .form-wrapper .textarea-wrapper label.red, .form-wrapper .button-wrapper label.red {
  border: 1px solid #FF0000;
  color: #FF0000;
  background-color: white; }
.form-wrapper .input-wrapper label.red.active, .form-wrapper .textarea-wrapper label.red.active, .form-wrapper .button-wrapper label.red.active {
  background-color: #FF0000;
  color: white; }
.form-wrapper .input-wrapper label.red:hover, .form-wrapper .textarea-wrapper label.red:hover, .form-wrapper .button-wrapper label.red:hover {
  background-color: #FF0000;
  color: white; }
.form-wrapper .input-wrapper label.red:active, .form-wrapper .textarea-wrapper label.red:active, .form-wrapper .button-wrapper label.red:active {
  background-color: #FF0000;
  color: white; }
.form-wrapper .input-wrapper .photo, .form-wrapper .textarea-wrapper .photo, .form-wrapper .button-wrapper .photo {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 1px solid #575759;
  cursor: pointer;
  background-image: url("/i/camera.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  display: inline-block; }
.form-wrapper .input-wrapper .photo.uploaded, .form-wrapper .textarea-wrapper .photo.uploaded, .form-wrapper .button-wrapper .photo.uploaded {
  background-size: cover;
  z-index: 98;
  position: relative; }

.form-wrapper .input-wrapper .photo.uploaded .remove, .form-wrapper .textarea-wrapper .photo.uploaded .remove, .form-wrapper .button-wrapper .photo.uploaded .remove {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 99;
  width: 50%;
  height: 100%;
  opacity: 0.65;
  background-color: white;
  background-image: url("/i/close-circle.png");
  background-position: center;
  background-repeat: no-repeat; }

.form-wrapper .input-wrapper .photo.uploaded .zoom, .form-wrapper .textarea-wrapper .photo.uploaded .zoom, .form-wrapper .button-wrapper .photo.uploaded .zoom {
  display: none;
  position: absolute;
  z-index: 99;
  width: 50%;
  height: 100%;
  opacity: 0.65;
  background-color: white;
  background-image: url("/i/zoom.png");
  background-position: center;
  background-repeat: no-repeat; }

.form-wrapper .input-wrapper .photo.uploaded:hover .remove, .form-wrapper .textarea-wrapper .photo.uploaded:hover .remove, .form-wrapper .button-wrapper .photo.uploaded:hover .remove {
  display: block;
  cursor: pointer; }

.form-wrapper .input-wrapper .photo.uploaded:hover .zoom, .form-wrapper .textarea-wrapper .photo.uploaded:hover .zoom, .form-wrapper .button-wrapper .photo.uploaded:hover .zoom {
  display: block;
  cursor: pointer; }

.form-wrapper .input-wrapper .input-label, .form-wrapper .textarea-wrapper .input-label {
  float: left;
  font-weight: bold;
  width: 30%; }

.switcher {
  float: right;
  position: relative;
  width: 195px; }
.switcher label {
  font-weight: bold;
  font-size: 12px; }
.switcher label.b-filter__switch {
  right: 10px; }

.form-wrapper .input-wrapper input {
  text-align: center;
  float: right;
  width: 70%;
  border: none;
  border-bottom: 1px solid #575759;
  background-color: transparent;
  font-weight: 500;
  padding-bottom: 5px; }
.form-wrapper .input-wrapper input.half {
  width: 30%; }

.form-wrapper .textarea-wrapper textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 5px;
  font-weight: 500;
  font-family: "MyriadPro", sans-serif; }

.clearfix {
  clear: both; }

.forward-form .b-filter__modal {
  top: 35%;
  right: 40px;
  left: auto;
  width: 360px;
  height: 240px;
  padding-left: 10px;
  padding-right: 10px; }

.forward-form .b-filter__modal textarea {
  width: 100%;
  height: 85%;
  resize: none;
  font-family: "MyriadPro", sans-serif; }

.b-filter__option-send {
  margin-top: 10px;
  display: inline-block;
  width: 60px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  padding-left: 20px;
  color: #fff;
  font-size: 11px;
  vertical-align: top;
  background: #4fc3f7 url("/i/send.png") 10px center no-repeat; }

.b-filter__option-send:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); }

button.save {
  float: right;
  margin-bottom: 10px;
  padding: 3px;
  font-weight: bold;
  width: 120px;
  background: #4fc3f7;
  color: white;
  padding: 7px 10px;
  border: 1px solid transparent; }
button.save:disabled {
  background: #E0E0E0;
  color: #93989F;
  cursor: not-allowed; }

.services .service {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 50px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  float: left; }
.services .service.charge {
  background-image: url("/i/charge.png"); }
.services .service.wifi {
  background-image: url("/i/wifi.png"); }
.services .service.wc {
  background-image: url("/i/wc.png"); }
.services .service.phone {
  background-image: url("/i/phone.png"); }
.services .service.cafe {
  background-image: url("/i/cafe.png"); }
.services .service.atm {
  background-image: url("/i/atm.png"); }
.services .service.parking {
  background-image: url("/i/parking.png"); }

.services input[type="checkbox"] {
  display: none; }

.services input[type="checkbox"]:checked + label.charge {
  background-image: url("/i/charge_active.png"); }

.services input[type="checkbox"]:checked + label.wifi {
  background-image: url("/i/wifi_active.png"); }

.services input[type="checkbox"]:checked + label.wc {
  background-image: url("/i/wc_active.png"); }

.services input[type="checkbox"]:checked + label.phone {
  background-image: url("/i/phone_active.png"); }

.services input[type="checkbox"]:checked + label.cafe {
  background-image: url("/i/cafe_active.png"); }

.services input[type="checkbox"]:checked + label.atm {
  background-image: url("/i/atm_active.png"); }

.services input[type="checkbox"]:checked + label.parking {
  background-image: url("/i/parking_active.png"); }

label.icon {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-size: 14px; }

.logout__modal {
  left: auto;
  right: 40px; }

.icon--Lock {
  background-image: url("/i/ic_lock_outline_black_48dp_1x.png");
}
